<button routerLink="form1" class="btn">Form 1</button>
<button routerLink="form2" class="btn">Form 2</button>
<button routerLink="form3" class="btn"
        *cgmIfRoleIs="'admin'">Form 3</button>
<button routerLink="form4" class="btn">Form 4</button>
<button routerLink="login" class="btn">login</button>
<button routerLink="cms" class="btn">cms</button>

<button (click)="authService.logout()"
        class="btn"
        *cgmIfLogged
>quit</button>



{{(authService.displayName$ | async)}}
<hr>
<router-outlet></router-outlet>
