/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  @apply bg-sky-500 rounded-xl p-2
         disabled:opacity-25
}

input[type="text"] {
  @apply rounded-2xl disabled:bg-slate-400
}

.error {
  @apply border-4 border-red-600
}
